<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Famms Fashion || Order Placed!</title>
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="./images/favicon.png"></head></head>
<body>
    <div class="container text-center">
        <h1>Thank You for Your Order!</h1>
        <p>Your order has been placed successfully.</p>
        <p>We will process your order and deliver it to you soon.</p>
        <span>Return to <a href="/">Home</a></span>
    </div>
</body>
</html>
